<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatistest1.mapper.WebsiteMapper">
    <resultMap id="result" type="com.example.mybatistest1.entity.Website">
        <result column="emp_id" jdbcType="INTEGER" property="emp_id" />
        <result column="emp_name" jdbcType="VARCHAR" property="emp_name" />
        <result column="gender" jdbcType="VARCHAR" property="gender" />
        <result column="email" jdbcType="INTEGER" property="email" />
        <result column="d_id" jdbcType="VARCHAR" property="d_id" />
    </resultMap>

    <select id="findAllWebsite" resultType="com.example.mybatistest1.entity.Website">
        select  * from websites;
    </select>

    <select id="findWebsiteById" resultType="com.example.mybatistest1.entity.Website">
        select * from websites where emp_id=#{emp_id};
    </select>
</mapper>
